
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primarycolor{
  color: rgba(78, 71, 255, 1);
}

.titlecolor{
  color: #252432;
}
.description_color{
  color: rgba(37, 36, 50, 0.5);
}
body{
  width: 1440px;
}

.head{
  background-image: url(Assets/Hero-bg.png);
  height: 698px;
  width: 1440px;
}
.nav{
  height: 151px ;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 150px;
  margin-bottom: 158px;
}
.logo{
  font-size: 34px;
  font-weight:900;
}
.btn_primary{
  padding: 12px 34px;
  background-color: rgba(78, 71, 255, 1);
  color: white;
  border-style: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.banner{
  height: 237px;
  width: 905px ;
  margin: 0px auto;
}
.title{
  font-size: 65px;
  font-weight:bold ;
  text-align: center;
  margin: 0px;
}
.stay_focused{
  margin: 37px 365.5px 0 365.5px;
}
.main_part{
  background-color: #F5F8FF;

}
.action{
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 159px 116px 141px ;
  padding-top: 116px;
}
.action_content{
  height:203px ;
  width: 517px;
}
.action_image{
  border-radius: 48px;
}
.sub_title{
  font-size: 42px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 24px;

}
.description{
  font-size: 24px;
  font-weight: 400px;
}
.joined{
  width: 1140px;
  height: 306px;
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
  margin: 116px 159px 137px 141px;
  display: flex;
  justify-content: center;
  
}
.sub_field{
  margin-top: 50px;
  width: 856px;
  height: 206px;
}
.users{
  display: flex;
  justify-content: space-between;
}
.user{
  height: 121px;
  width: 180px;
}
.joined_title{
  font-size:38px ;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
.number{
  height: 97px;
  width: 162px;
  font-size:80px ;
  font-weight: bold ;
  font-family: inter;
  margin: 0px;

}
.description2{
  font-size: 20px;
  font-weight: 400px;
  margin: 0px;
  /* color: rgba(37, 36, 50, 0.5); */
  text-align: center;
}
.users_say{
  height: 342px;
  width: 1140px;
  margin: 137px 149px 137px 151px;
  margin-bottom: 138px;
}
.say{
  display: flex;
  justify-content: space-between;

}
.card{
  height: 243px;
  width: 366px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reverinfo{
  height: 46px;
  width: 318px;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-left: 24px;
}
.icon{
  padding: 24px;
}
.title_d{
  height: 81px;
  width: 319px;
  margin-bottom: 24px;
  margin-left: 24px;
}
.sub_title2{
  font-size: 42px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
}
.t1{
  color: rgba(30, 30, 30, 1);
  margin: 0px;
}
.t2{
  color: rgba(30, 30, 30, 1);
}
.t3{
  color: rgba(117, 117, 117, 1);
  margin: 0px;
}
.t4{
  color:rgba(179, 179, 179, 1);
  margin: 0px;
}
.avatar{
  height:40px ;
  width: 40px;
  border-radius: 9999px;
}
.focus{
  margin: 137px 149px 93px 151px;
  justify-items: center;
  align-content: center;
  height: 697px;
  width: 1140px;
  background-color: white;
  margin-bottom: 93px;
}
.focus_title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin: 0px;
}
.focus_descreption{
  margin: 0px;
  padding-bottom: 20px;
}
.focus_image{
  height:365px ;
  width:840px ;
  border-radius: 48px;
  display: block;
  padding-top: 20px;
}
.form_section{
  height: 632px;
  width: 1140px;
  margin: 137px 149px 14px 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_text{
  width: 528px;
  height: 232px;
  font-size: 97px;
  font-weight: bold;
}
.form{
  height: 490px;
  width: 497px;
}
.one{
  border-radius: 10px;
  width: 458px;
  background-color: white;
  border-color: #D6DDED;
  padding: 20px 0px 20px 32px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.two{
  width: 458px;
  border-radius: 10px;
  background-color: white;
  border-color: #D6DDED;
  padding: 20px 0px 85px 32px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.label_text{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
::placeholder{
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
}
.email_box{
  height:102px ;
  width: 497px;
}
.name_box{
  height: 102px;
  width: 497px;
}
.text_box{
  height:167px;
  width:497px ;
}
.get_in{
  width: 497px;
  margin-top: 19px;
}
.footer{
  margin-top: 14px;
  height: 488px;
  width: 1440px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot{
  height: 221px;
  width: 531px;
  background-color: white;
}
.footer_logo{
  color: rgba(78, 71, 255, 1) ;
  font-size: 100px;
  font-weight: 900;
  margin: 0px;
  text-align: center;
}
.footer_texts{
  font-size: ;
  font-weight: ;
  color: rgba(137, 135, 161, 1);
}
.footer_description{
  height: 48px;
  width: 531px;
  text-align: center;
  margin: 8px 0px 0px 0px;
}

.fotter_nav{ 
  height: 24px;
  width: 401px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.fotter_nav a{
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
.btn_primary:hover{
  background-color: yellow;
  color: black;
}