.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primarycolor{
  color: rgba(78, 71, 255, 1);
}

.titlecolor{
  color: #252432;
}
.description{
  color: rgba(37, 36, 50, 0.5);
}

.head{
  background-image: url(Assets/Hero-bg.png);
  height: 698px;
  width: 1440px;
}
.nav{
  height: 151px ;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 150px;
  margin-bottom: 158px;
}
.logo{
  font-size: 34px;
  font-weight:900;
}
.btn_primary{
  padding: 12px 34px;
  background-color: rgba(78, 71, 255, 1);
  color: white;
  border-style: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.banner{
  height: 237px;
  width: 905px ;
  margin: 0px auto;
}
.title{
  font-size: 65px;
  font-weight:bold ;
  text-align: center;
  margin: 0px;
}
.stay_focused{
  margin: 37px 365.5px 0 365.5px;
}
.action{
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:116px 159px 116px 141px ;
}
.action_content{
  height:203px ;
  width: 517px;
}
.action_image{
  border-radius: 48px;
}
.sub_title{
  font-size: 42px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 24px;

}
.description{
  font-size: 24px;
  font-weight: 400px;
}
